{extend name="base" /}
{block name="title"}添加实战营信息{/block}
{block name="body"}
<script type="text/javascript" charset="utf-8" src="__UEDITOR__/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__UEDITOR__/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__UEDITOR__/lang/zh-cn/zh-cn.js"></script>
<section class="Hui-article-box">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		实战营
		<span class="c-gray en">&gt;</span>
		添加{if condition="$type eq 1"}大咖解读{elseif condition="$type eq 2" /}走进企业{elseif condition="$type eq 3" /}文旅研究{elseif condition="$type eq 4" /}文旅活动{elseif condition="$type eq 5" /}文旅峰会{/if}信息 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
<div class="Hui-article">
		<article class="cl pd-20">
			<div class="page-container">
			<form action="/admin/message/insert" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="" id="title" name="title">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>副标题：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="" id="fu_title" name="fu_title">
					</div>
				</div>
				{in name="type" value="1,4"}
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类别：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<select name="cate_id" class="input-text" id="cate_id">
							<option value="">--请选择--</option>
							{foreach $cate as $vo}
								<option value="{$vo.id}" >{$vo.name}</option>
							{/foreach}
						</select>
					</div>
				</div>
				{/in}
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="file" name="image" id="image">	
					</div>
				</div>
				<div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>内容：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <script id="editor" name="content" type="text/plain" style="width:1000px;height:500px;"></script>
                    </div>
                </div>
                <input type="hidden" name="type" id="type" value="{$type}">
                <div class="row cl" >
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<button id="submits" class="btn btn-primary radius" type="submit" onclick="return validate()"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
					</div>
				</div>
			</form>
		</div>
		</article>
	</div>
</section>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
	//实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');

    //提交表单的事件监听  
	function validate() {
	    var title = $('#title').val();
	    var fu_title = $('#fu_title').val();
	    var type = $('#type').val();
	    var cate_id = $('#cate_id').val();
	    var content = ue.getContent();
	    if(title==''){
        	alert('资讯标题不能为空');
        	return false;
        }
        if(fu_title==''){
        	alert('副标题不能为空');
        	return false;
        }
        if(type=='1' || type=='4'){
	        if(cate_id==''){
	        	alert('资讯分类不能为空');
	        	return false;
	        }
	    }
        if(content==''){
        	alert('资讯内容不能为空');
        	return false;
        }
	}
</script>
{/block}