{extend name="base" /}
{block name="title"}实战营信息列表{/block}
{block name="body"}
<link rel="stylesheet" href="__ADMIN__/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 实战营 <span class="c-gray en">&gt;</span> 文旅活动 <span class="c-gray en">&gt;</span> 报名会员 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<div>
			<div class="pd-20">
				<div class="mt-20">
					<form action="/admin/message/form_user" method="get" accept-charset="utf-8">
						<div class="text-c"> 
							<input type="text" class="input-text" style="width:250px" placeholder="姓名" name="username" value="{if isset($_GET['username'])}{$_GET['username']}{/if}">
							<input type="text" class="input-text" style="width:250px" placeholder="手机号" name="mobile" value="{if isset($_GET['mobile'])}{$_GET['mobile']}{/if}">
							报名时间：
							<input type="text" onfocus="WdatePicker()" id="logmin" class="input-text Wdate" name="time1" style="width:120px;" value="{if isset($time1)}{:date('Y-m-d H:i:s',$time1)}{/if}">
							-
							<input type="text" onfocus="WdatePicker()" id="logmax" class="input-text Wdate" name="time2" style="width:120px;" value="{if isset($time2)}{:date('Y-m-d H:i:s',$time2)}{/if}">
							<input type="hidden" name="id" value="{$_GET['id']}">
							<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
						</div>
					</form>
					<div class="cl pd-5 bg-1 bk-gray mt-20">
						<span class="r">共有数据：<strong>{$total}</strong> 条</span>
					</div><br/>
					<table class="table table-border table-bordered table-bg table-hover table-sort">
						<thead>
							<tr class="text-c">
								<th width="40">ID</th>
								<th width="120">姓名</th>
								<th width="120">手机号</th>
								<th width="120">报名信息</th>
								<th width="120">报名时间</th>
								<th width="230">操作</th>
							</tr>
						</thead>
						<tbody>
						{foreach $list as $vo}
							<tr class="text-c va-m">
								<td>{$vo.uid}</td>
								<td>{$vo.username}</td>
								<td>{$vo.mobile}</td>
								<td>
									{foreach $vo.user_info as $k=>$info} 
										{$info.question_name} ：{$info.option_name}<br/>
									{/foreach}
								</td>
								<td>{:date('Y-m-d H:i:s',$vo.time)}</td>
								<td class="td-manage">
									<a style="text-decoration:none" class="btn btn-primary radius" href="" onclick="javascript:return confirm('确认删除吗？')" >删除</a>
								</td>
							</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
				<div class="fenye">{$page}</div>
			</div>
		</div>
	</div>
</section>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
{/block}