{extend name="base" /}
{block name="title"}添加信息分类{/block}
{block name="body"}
<link rel="stylesheet" href="__ADMIN__/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 帮空间 <span class="c-gray en">&gt;</span> 添加信息分类 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<div>
			<div class="pd-20">
				<div class="mt-20">
				<form action="/admin/project/cate_insert" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data">
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类名称：</label>
						<div class="formControls col-xs-8 col-sm-5">
							<input type="text" class="input-text" value="" id="name" name="name">
						</div>
					</div>
					<div class="row cl" >
						<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
							<button id="submits" class="btn btn-primary radius" type="submit" onclick="return validate()"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__INDEX__/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	//提交表单的事件监听  
	function validate() {
	    var name = $('#name').val();
	    if(name==''){
        	alert('分类名称不能为空');
        	return false;
        }
	}
</script>
{/block}