<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>重设密码</title>
<link rel="icon" href="__IMAGE__{$config.icon}" type="image/x-icon" />
<link href="__ADMIN__/static/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="login_box">
      <div class="login_l_img"><img src="__IMAGE__/service/login-img.png" /></div>
      <div class="login">
          <div class="login_logo"><a href="javascript:void(0)"><img src="__IMAGE__/service/login_logo.png" /></a></div>
          <div class="login_name"><p>您好，{$username}，请重设密码</p></div>
          <form method="post" action="/service/login/newpassword_do">
              <input id="password" name="password" type="password"  placeholder="请输入密码" >
              <input id="repassword" name="repassword" type="password"  placeholder="请再次输入密码">
              <span id="chkmsg" style="color:red"></span>
              <input type="hidden" name="id" value="{$id}">
              <input value="找回密码" onclick="return validate()" style="width:100%;" type="submit">
          </form>
      </div>
      <div class="copyright">文旅帮 版权所有©2016-2018</div>
</div>
</body>
<script type="text/javascript" src="__ADMIN__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
  //提交表单的事件监听  
  function validate() {
      var password = $('#password').val();
      var repassword = $('#repassword').val();
      if(password==''){
        $("#chkmsg").html("请输入密码！");
        return false;
      } 
      if(repassword==''){
        $("#chkmsg").html("请输入密码！");
        return false;
      } 
      if(password != repassword){
        $("#chkmsg").html("两次密码输入不一致！");
        return false;
      } 
  }
</script>
</html>
