{include file="common/top"}

<!--center-->
<div class="main_c">
	<div class="main" id="content">
		<!-- 内容部分 -->
		<div class="pro_list wlhd">
			<ul class='result_list'>
				<!-- {foreach $message as $message} -->
				<li>
					<div class="pro_pic">
						<a href="/index/activity/info.html?id={$message.id}" title="">
							<img src="__IMAGE__/{$message.image}" alt="">
						</a>
						<span>2018.夏</span>
					</div>
					<div class="pro_c">
						<a href="/index/activity/info.html?id={$message.id}" title="">
							<h2>{$message.title}</h2>
							<span {if $message.status==2}class='js'{/if}>{$message.status_message}</span>
						</a>
						<div>{$message.content}</div>
					</div>
					<div class="pro_ico">
						<a href="/index/activity/info.html?id={$message.id}">更多&gt;&gt;</a>
					</div>
				</li>
				<!-- {/foreach} -->
			</ul>
			<div class="c"></div>
			<div class="paging" data-limit="{$limit}">
			<input type="hidden" value="{$cate_id}" id='cate_id' />
					<a class="next" href="javascript:void(0);">查看更多</a>
				</div>
		</div>
		<!-- 内容部分 end-->
	</div>
</div>
<!--center end-->
<script type="text/javascript">
	$(".paging").click(function() {

		var limit = $(this).data('limit');
		var cate_id = $("#cate_id").val();
		$(this).data('limit', limit + 1);
		$.ajax({
			type: 'GET',
			url: '/index/activity/more',
			data: {
				limit: limit,
				cate_id:cate_id
			},
			success: function(result) {
				if (result.code == 1) {
					$(".result_list").append(result.data);
				} else {
					$(".paging").hide();
				}
			},
			dataType: 'json'
		});
	})
</script>
<!-- footer -->
{include file="common/foot"}
</body>
</html>