<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link type="text/css" rel="stylesheet" href="__INDEX__/css/index.css">
<link type="text/css" rel="stylesheet" href="__INDEX__/css/slide.css">
<script src="__INDEX__/js/jquery.min.js"></script>
<script src="__INDEX__/js/TouchSlide.1.1.js"></script>
<link type="text/css" rel="stylesheet" href="__INDEX__/css/yd.css">
<script src="__INDEX__/js/daohang.js" type="text/javascript"></script>
<link rel="stylesheet" href="__INDEX__/css/daohang.css">
<link rel="stylesheet" href="__INDEX__/css/style.css">
<title>06-1-1注册</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
</head>
<body>
	<div class="top dl" id="#top">
		<div class="Menu-icon">
			<a href="05-1需求列表.html" class="a_fanhui">
				<img src="__IMAGE__/mobile/ico_l2.png">
			</a>
		</div>
		<div class="editor-icon">
			<a href='/mobile/login/index'>登录</a>
		</div>
	</div>
	<div class="top dl">
		<div class="logo">
			<img src="__IMAGE__/mobile/logo2.png">
		</div>
	</div>
	<!--top end-->
	<!--center-->
	<div class="uc_form_reg">
		<form action="/mobile/register/register" method='POST'>
			<ul>
				<li>
					<input value="" placeholder="手机号" id="mobile" name="mobile">
				</li>
				<li>
					<input value="" placeholder="密码" id="" name="password" type="password">
				</li>
				<li>
					<input value="" placeholder="确认密码" id="" name="repassword" type="password">
				</li>
				<li class="yzm">
					<span>验证码</span>
					<input type="text" name="code" id="code" placeholder="验证码" style="width: 150px;" />
					<img id="verify_img" src="{:captcha_src()}" alt="验证码" onclick="refreshVerify()" style="width: 150px; height: 40px; float: left">
				</li>
				<li class="dtm">
					<input value="" name='sms_code' placeholder="动态码" class="mima" id="mima" type="text">
					<input id="zphone" type="button" value=" 获取手机验证码 " onClick="get_mobile_code()" style="width: 150px;">
				</li>
				<li class="sub">
					<input type='hidden' name='type' value=1>
					<input type="submit" name="" value="注册">
				</li>
				<li class="lk">
					<a></a>
					<a>已有账号？登录</a>
				</li>
			</ul>
		</form>
	</div>
	<script type="text/javascript">
		function refreshVerify() {
			var ts = Date.parse(new Date()) / 1000;
			var img = document.getElementById('verify_img');
			img.src = "/captcha?id=" + ts;
		}
	</script>
	<script type="text/javascript">
		function get_mobile_code() {
			var mobile = $('#mobile').val();
			var code = $("#code").val()
			if (isNaN(mobile)) {
				alert('请输入正确的电话号码！');
				form.mobile.focus();
				return false;
			}
			var reg = /^1[34578][0-9]{9}$/;
			if (!reg.test(mobile)) {
				alert('请输入正确的电话号码！');
				form.mobile.focus();
				return false;
			}
			$.post('/index/register/sendsms', {
				mobile: jQuery.trim(mobile),
				send_code: code
			}, function(msg) {
				alert(jQuery.trim(unescape(msg)));
				if (msg == '提交成功') {
					RemainTime();
				} else {
					location.reload();
				}
			});
		};
		var iTime = 59;
		var Account;
		function RemainTime() {
			document.getElementById('zphone').disabled = true;
			var iSecond, sSecond = "", sTime = "";
			if (iTime >= 0) {
				iSecond = parseInt(iTime % 60);
				iMinute = parseInt(iTime / 60)
				if (iSecond >= 0) {
					if (iMinute > 0) {
						sSecond = iMinute + "分" + iSecond + "秒";
					} else {
						sSecond = iSecond + "秒";
					}
				}
				sTime = sSecond;
				if (iTime == 0) {
					clearTimeout(Account);
					sTime = '获取手机验证码';
					iTime = 59;
					document.getElementById('zphone').disabled = false;
				} else {
					Account = setTimeout("RemainTime()", 1000);
					iTime = iTime - 1;
				}
			} else {
				sTime = '没有倒计时';
			}
			document.getElementById('zphone').value = sTime;
		}
	</script>
	<!--center end-->
	<!--contact us end-->
	{include file="common/foot"}