<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="{if isset($keywords)}{$keywords}{/if}">
<meta name="description" content="{if isset($description)}{$description}{/if}">
<title>文旅IP业态内容集成平台</title>
<link rel="stylesheet" type="text/css" href="__INDEX__/skin/child_cart.css">
<link rel="stylesheet" type="text/css" href="__INDEX__/skin/child_atm.css">
<link rel="stylesheet" type="text/css" href="__INDEX__/skin/master.css">
<link rel="stylesheet" type="text/css" href="__INDEX__/skin/subpage.css">
<link rel="stylesheet" type="text/css" href="__INDEX__/skin/index.css">
<script type="text/javascript" src="__INDEX__/skin/jquery.js"></script>
<script type="text/javascript" src="__INDEX__/skin/banner.js"></script>
<script type="text/javascript" src="__INDEX__/skin/index.js"></script>
<script type="text/javascript" src="__INDEX__/skin/child_atm.js"></script>
<script type="text/javascript" src="__INDEX__/skin/jQselect.js"></script>
<script type="text/javascript" src="__INDEX__/skin/lihe.js"></script>
<script type="text/javascript" src="__INDEX__/skin/scroll.1.3.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="js/png.js"></script>
<script>DD_belatedPNG.fix('div,img,span,li,a,a:hover,dd,p,input,select')</script>
<![endif]-->
</head>

<body>
	<!-- 头部 -->
	<div class="header">
		<!-- 顶部 -->
		<div class="h_top_c">
			<div class="h_top">
				<span class="wel">文旅IP业态内容集成平台</span>
				<span class="tel">
					服务热线：
					<font>400-5627-321</font>
				</span>
				<span class="ihand">
					<a href="/index/register/index">项目方入驻</a>
					<a href="/index/register/index">服务商入驻</a>
					<a href="">专家入驻</a>
				</span>
			</div>
		</div>
		<!-- 顶部 end-->

		<!-- logo 搜索 -->
		<div class="h_mid_c">
			<div class="h_mid">
				<div class="logo">
					<a href="../" class="fl">
						<img src="__IMAGE__/index/logo.png">
					</a>
					<small class="fl">文旅IP业态内容集成平台</small>
				</div>
				<div class="search" style=" ">
					<form id="search" name="search" method="get" action="/index/search/index.html">
						<input type="text" name="kws" id="kws" class="text" placeholder="请输入业态分类进行搜索">
						<input type="submit" title="搜索业态方案" class="button" value="搜索">
					</form>
					<a href="">亲自营地</a>
					<a href="">室内滑雪场</a>
					<a href="">户外婚礼广场</a>
				</div>
				<div class="topshop">
					<input data-type='2' type="input" title="发布业态内容" class="button bbg " value="发布业态内容">
					<input data-type='1' type="input" title="提交项目需求" class="button " value="提交项目需求">
				</div>
			</div>
			<div class="c"></div>
		</div>
	</div>
	<div id="select_box" style="display: none">
		选择 角色
		<input type="radio" name="type" value="1" checked='checked'>
		项目方
		<input type="radio" name="type" value="2">
		服务商
	</div>
	<!-- 头部 end -->
	<!-- logo 搜索 end-->
	<!-- 导航 -->
	<div class="nav_banner">
		<div class="navindex">
			<ul>
				<li>
					<a href="index.html" title="业态内容分类">业态内容分类</a>
				</li>
				<!-- {foreach $cate as $cate} -->
				<li>
					<a href="/index/search/index.html?f_id={$cate.id}" title="">{$cate.name}</a>
				</li>
				<!-- {/foreach} -->
			</ul>
			<script type="text/javascript">
				$(function() {
					$(".navindex li").hover(function() {
						$(".nav_right", this).show();
					});
					$(".navindex li").mouseleave(function() {
						$(".nav_right", this).hide();
					});
				});
			</script>
		</div>
		<div class="navright">
			<div class="nav_index_right">
				<ul>
					<li>
						<a href="index/news/index.html" title="">文旅资讯</a>
					</li>
					<li>
						<a href="/index/project/index.html" title="">帮空间</a>
					</li>
					<li>
						<a href="index/dakashuo/index.html" title="">大咖说</a>
					</li>
					<li>
						<a href="/index/expert/index.html" title="">文旅智库</a>
					</li>
					<li>
						<a href="/index/research/index.html" title="">文旅研究</a>
					</li>
					<li>
						<a href="/index/activity/index.html" title="">文旅活动</a>
					</li>
					<li>
						<a href="/index/meeting/index.html" title="">文旅峰会</a>
					</li>
					<li>
						<a href="/index/investment/index.html" title="">融资/转让</a>
					</li>
				</ul>
			</div>
			<!-- banner -->
			<div class="banner"></div>
			<script type="text/javascript">
				var atmdateA = [{
					"is_url": "0",
					"url_controller": "",
					"url_action": "",
					"url_para": "#",
					"pic_path": "__IMAGE__{$recommend.image}",
					"title": "banner",
					"href": "",
					"url": "__IMAGE__/{$recommend.image}"
				}, {
					"is_url": "0",
					"url_controller": "",
					"url_action": "",
					"url_para": "#",
					"pic_path": "__IMAGE__{$recommend1.image}",
					"title": "banner",
					"href": "",
					"url": "__IMAGE__/{$recommend1.image}"
				}];
				$(document).ready(function() {
					var bannerShow = new Atm();
					bannerShow.slide(atmdateA, ".banner", "1043", "444");
				});
			</script>
			<!-- banner -->
			<!--大咖专访-->
			<div class="itao">
				<div class="main1">
					<ul>
						<!-- {foreach $daka as $daka} -->
						<li>
							<a href="index/dakashuo/info.html?id={$daka.id}" title="{$daka.title}">
								<img src="__IMAGE__/{$daka.image}" />
								<span>大咖专访</span>
								<h2>{$daka.title}</h2>
							</a>
						</li>
						<!-- {/foreach} -->
					</ul>
				</div>
			</div>
		</div>
		<!--大咖专访end-->
	</div>
	<!-- 导航 end-->
	<!-- {foreach $cate1 as $cate1} -->
	<div class="index_pro" style="position: relative; overflow: hidden;">
		<div class="clear"></div>
		<p class="proname">
			<span>精彩推荐</span>
		</p>
		<div class="clear"></div>
		<div class="pro_list" id="wrapBox1">
			<ul id="count1" class="count">
				<!-- {foreach $plan1 as $plan1} -->
				<li>
					<div class="pro_pic">
						<a href="" title="">
							<img src="__IMAGE__{$plan1.image}" alt="">
						</a>
					</div>
					<div class="pro_c">
						<a href="" title="">
							<h2>{$plan1.name}</h2>
						</a>
						<div>{$plan1.content}</div>
					</div>
				</li>
				<!-- {/foreach} -->
			</ul>
			<div class="c"></div>
		</div>
		<a id="right1" class="prev icon btn"></a>
		<a id="left1" class="next icon btn"></a>
	</div>
	<div class="clear"></div>
	<!--精彩推荐end-->
	<!--最潮业态-->
	<div class="index_pro" style="position: relative; overflow: hidden;">
		<div class="clear"></div>
		<p class="proname">
			<span>最潮业态</span>
		</p>
		<div class="clear"></div>
		<div class="pro_list" id="wrapBox2">
			<ul id="count2" class="count">
				<!-- {foreach $plan2 as $plan2} -->
				<li>
					<div class="pro_pic">
						<a href="" title="">
							<img src="__IMAGE__{$plan2.image}" alt="">
						</a>
					</div>
					<div class="pro_c">
						<a href="" title="">
							<h2>{$plan2.name}</h2>
						</a>
						<div>{$plan2.content}</div>
					</div>
				</li>
				<!-- {/foreach} -->
			</ul>
			<div class="c"></div>
		</div>
		<a id="right2" class="prev icon btn"></a>
		<a id="left2" class="next icon btn"></a>
	</div>
	<div class="clear"></div>
	<!--最潮业态end-->
	<!--演绎剧目-->
	<div class="index_pro">
		<div class="clear"></div>
		<p class="proname">
			<span>演绎剧目</span>
			<a href="" title="更多">更多&gt;&gt;</a>
		</p>
		<div class="clear"></div>
		<div class="pro_list">
			<ul>
				<!-- {foreach $plan3 as $plan3} -->
				<li>
					<div class="pro_pic">
						<a href="" title="">
							<img src="__IMAGE__{$plan3.image}" alt="">
						</a>
					</div>
					<div class="pro_c">
						<a href="" title="">
							<h2>{$plan3.name}</h2>
						</a>
						<div>{$plan3.content}</div>
					</div>
					<div class="pro_ico">
						<span>
							<img src="__IMAGE__/index/ico_1.png" alt="收藏">
							收藏
						</span>
						<span>
						
						<a href="/index/cart/add?plan_id={$plan3.id}" title="">	<img src="__IMAGE__/index/ico_2.png" alt="加入购物车"></a>
						</span>
					</div>
				</li>
				<!-- {/foreach} -->
			</ul>
			<div class="c"></div>
		</div>
	</div>
	<div class="clear"></div>
	<!--演绎剧目end-->
	<!--大地艺术-->
	<div class="index_pro">
		<div class="clear"></div>
		<p class="proname">
			<span>大地艺术</span>
			<a href="" title="更多">更多&gt;&gt;</a>
		</p>
		<div class="clear"></div>
		<div class="pro_list">
			<ul>
				<!-- {foreach $plan4 as $plan4} -->
				<li>
					<div class="pro_pic">
						<a href="" title="">
							<img src="__IMAGE__{$plan4.image}" alt="">
						</a>
					</div>
					<div class="pro_c">
						<a href="" title="">
							<h2>{$plan4.name}</h2>
						</a>
						<div>{$plan4.content}</div>
					</div>
					<div class="pro_ico">
						<span>
							<img src="__IMAGE__/index/ico_1.png" alt="收藏">
							收藏
						</span>
						<span>
							<a href="/index/cart/add?plan_id={$plan4.id}" title="">	<img src="__IMAGE__/index/ico_2.png" alt="加入购物车">
					</a>
						</span>
					</div>
				</li>
				<!-- {/foreach} -->
			</ul>
			<div class="c"></div>
		</div>
	</div>
	<div class="clear"></div>
	<!--大地艺术end-->

	<div class="index_banenr_end">
		<img src="__IMAGE__/index/index_banenr_end.png">
	</div>

	<!--演绎剧目-->
	<div class="index_pro">
		<div class="clear"></div>
		<p class="proname">
			<span>演绎剧目</span>
			<a href="" title="更多">更多&gt;&gt;</a>
		</p>
		<div class="clear"></div>
		<div class="pro_list">
			<ul>
				<!-- {foreach  $plan5 as $plan5} -->
				<li>
					<div class="pro_pic">
						<a href="" title="">
							<img src="__IMAGE__{$plan5.image}" alt="">
						</a>
					</div>
					<div class="pro_c">
						<a href="" title="">
							<h2>{$plan5.name}</h2>
						</a>
						<div>{$plan5.content}</div>
					</div>
					<div class="pro_ico">
						<span>
							<img src="__IMAGE__/index/ico_1.png" alt="收藏">
							收藏
						</span>
						<span>
						<a href="/index/cart/add?plan_id={$plan5.id}" title="">	
							<img src="__IMAGE__/index/ico_2.png" alt="加入购物车">
							</a>
						</span>
					</div>
				</li>
				<!-- {/foreach} -->
			</ul>
			<div class="c"></div>
		</div>
	</div>
	<div class="clear"></div>
	<!--演绎剧目end-->
	<!--大地艺术-->
	<div class="index_pro">
		<div class="clear"></div>
		<p class="proname">
			<span>大地艺术</span>
			<a href="" title="更多">更多&gt;&gt;</a>
		</p>
		<div class="clear"></div>
		<div class="pro_list">
			<ul>
				<!-- {foreach $plan6 as $plan6} -->
				<li>
					<div class="pro_pic">
						<a href="" title="">
							<img src="__IMAGE__{$plan6.image}" alt="">
						</a>
					</div>
					<div class="pro_c">
						<a href="" title="">
							<h2>{$plan6.name}</h2>
						</a>
						<div>{$plan6.content}</div>
					</div>
					<div class="pro_ico">
						<span>
							<img src="__IMAGE__/index/ico_1.png" alt="收藏">
							收藏
						</span>
						<span>
						<a href="/index/cart/add?plan_id={$plan6.id}" title="">	
							<img src="__IMAGE__/index/ico_2.png" alt="加入购物车">
						</a>
						</span>
					</div>
				</li>
				<!-- {/foreach} -->
			</ul>
			<div class="c"></div>
		</div>
	</div>
	<div class="clear"></div>
	<!--大地艺术end-->

	<!--投融信息-->
	<div class="index_pro">
		<div class="clear"></div>
		<p class="proname">
			<span>投融信息</span>
		</p>
		<div class="clear"></div>
		<div class="tourong_list">
			<ul>
				<!-- {foreach $investment as $investment} -->
				<li>
					<div>
						<a title="" href="">
							<img src="__IMAGE__/index/bangkongjian1.png" alt="" height="160" width="225">
						</a>
					</div>
					<div>
						<a title="" href="">{$investment.name}</a>
						<span>{$investment.fu_title}</span>
						<p>{$investment.content}</p>
					</div>
					<div>
						<p>发布于：{$investment['time']|date="Y-m-d",###}</p>
					</div>
				</li>
				<!-- {/foreach} -->
			</ul>
			<div class="c"></div>
		</div>
	</div>
	<div class="clear"></div>
	<!--投融信息end-->
	<!-- footer -->
	<div class="footclear"></div>
	<div class="foot">
		<div class="fmain">
			<div class="bootTxt">
				<ul>
					<li>
						<a href="">文旅资讯</a>
						<a href="">干货分享</a>
						<a href="">深度报道</a>
						<a href="">融资消息</a>
					</li>
					<li>
						<a href="">帮空间</a>
						<a href="">帮顾问</a>
						<a href="">帮顾问</a>
						<a href="">帮顾问</a>
						<a href="">帮顾问</a>
						<a href="">帮顾问</a>
						<a href="">帮顾问</a>
					</li>
					<li>
						<a href="">大咖说</a>
						<a href="">干货分享</a>
						<a href="">深度报道</a>
					</li>
					<li>
						<a href="">文旅活动</a>
						<a href="">干货分享</a>
						<a href="">文旅唠嗑会</a>
						<a href="">融资消息</a>
						<a href="">融资消息</a>
						<a href="">融资消息</a>
					</li>
					<li>
						<a href="">投融信息</a>
						<a href="">投资信息</a>
						<a href="">转让项目</a>
					</li>
					<li>
						<p>联系电话</p>
						<p>服务电话：4006-654-123</p>
						<p>服务电话：13716823327</p>
						<p>合作微信：cc13716823327</p>
					</li>
					<li></li>
					<li>
						<img src="__IMAGE__/index/erweima.png">
						<p>
							扫描二维码，有更多惊喜
							<br>
							Android&IOS
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="foot_end">©COPYRIGHT 2012 北京文旅帮科技发展有限公司 版权所有京ICP备15047706号-2</div>


	<!--客服-->
	<link rel="stylesheet" href="skin/kefu.css">
	<div class="suspension">
		<div class="suspension-box">
			<a href="#" class="a a-cart">
				<i class="i">业态内容</i>
			</a>
			<a href="#" class="a a-service ">
				<i class="i"></i>
			</a>
			<a href=";" class="a a-service-phone ">
				<i class="i"></i>
			</a>
			<a href=";" class="a a-qrcode">
				<i class="i"></i>
			</a>
			<a href=";" class="a a-top">
				<i class="i"></i>
			</a>
			<div class="d d-service">
				<i class="arrow"></i>
				<div class="inner-box">
					<div class="d-service-item clearfix">
						<a href="#" class="clearfix">
							<span class="circle">
								<i class="i-qq"></i>
							</span>
							<h3>咨询在线客服</h3>
						</a>
					</div>
				</div>
			</div>
			<div class="d d-service-phone">
				<i class="arrow"></i>
				<div class="inner-box">
					<div class="d-service-item clearfix">
						<span class="circle">
							<i class="i-tel"></i>
						</span>
						<div class="texttel">
							<p>服务热线</p>
							<p class="red number">4001-123-456</p>
						</div>
					</div>
				</div>
			</div>
			<div class="d d-qrcode">
				<i class="arrow"></i>
				<div class="inner-box">
					<div class="qrcode-img">
						<img src="__IMAGE__/index/side_ewm.jpg" alt="">
					</div>
					<p>微信服务号</p>
				</div>
			</div>

		</div>
	</div>
	<!--客服end-->
	<script type="text/javascript" src="skin/index.js"></script>
	<script type="text/javascript">
		$(".topshop").find("input").click(function() {
			var type = $(this).data('type');
			$.ajax({
				type: 'POST',
				url: '/index/login/check',
				data: {
					type: type
				},
				success: function(result) {
					if (result.msg) {
						alert(result.msg);
					}
					//未登录 跳转登陆
					if (result.code == 1) {
						window.location.href = result.url;
					}
					//普通用户弹窗选择
					if (result.code == 0) {
						layer.open({
							type: 1,
							skin: 'layui-layer-rim', //加上边框
							area: ['640px', '360px'], //宽高
							content: $('#select_box'),
							btn: ['确定', '取消'],
							yes: function(index, layero){
								var select = $('#select_box input[name="type"]:checked ').val();
								
								$.ajax({
									type: 'POST',
									url: '/index/login/change',
									data: {
										select: select
									},
									success: function(result) {
										if (result.code == 1) {
											window.location.href = result.url;
										}
									},
									dataType: 'json'
								});
							  }
						});
					}
				},
				dataType: 'json'
			});
		});
	</script>
</body>
</html>