{include file="common/top"}
<!-- 头部 end -->

<!--center-->
<div class="main_c">
	<div class="main" id="content">

		<!-- 内容部分 -->
		<div class="sp_content" id="contentLeft">
			<div class="content cpage">
				<div class="c_crumb">
					<a href="">首页</a>
					&gt;
					<a href="">大咖说</a>
					&gt;
					<a href="">{$cate_info.name}</a>
				</div>
				<h1 class="c_tit">{$dakashuo.title}</h1>
<div class="c_data">资讯分类：{$cate_info.name} &nbsp;&nbsp;&nbsp;&nbsp;   发布时间：{$dakashuo['time']|date="Y-m-d",###} </div>			 
				<div class="c_txt">{$dakashuo.content}</div>
			 <div>
					<!-- {if $last} -->
					上一篇：
					<a href="/index/dakashuo/info.html?id={$last.id}">{$last.title}</a>
					<!-- {/if} -->
					<!-- {if $next} -->
					下一篇：
					<a href="/index/dakashuo/info.html?id={$next.id}">{$next.title}</a>
					<!-- {/if} -->
					<br />
					<br />

				</div>
			</div>
			
		</div>
		<!-- 内容部分 end-->

		<!-- 右侧部分 -->
		{include file="common/right"}
		<!-- 右侧部分 end-->
	</div>
</div>
<!--center end-->

<!-- footer -->
{include file="common/foot"}
</body>
</html>