	<div class="footclear"></div>
	<div class="foot">
		<div class="fmain">
			<div class="bootTxt">
				<ul>
					<li>
					<!--  -->
					<a href="/index/news/index.html?type=1" title="干货分享">干货分享</a>
					<!--  -->
					<a href="/index/news/index.html?type=2" title="深度报道">深度报道</a>
					<!--  -->
					<a href="/index/news/index.html?type=3" title="融资消息">融资消息</a>
					<!--  -->
					<a href="/index/news/index.html?type=9" title="文旅早报">文旅早报</a>
					<!--  -->	 
					</li>
					<li>
					<!--  -->
					<a href="/index/project/index.html?cate_id=1" title="帮顾问">帮顾问</a>
					<!--  -->
					<a href="/index/project/index.html?cate_id=2" title="帮运营">帮运营</a>
					<!--  -->
					<a href="/index/project/index.html?cate_id=3" title="帮培训">帮培训</a>
					<!--  -->
					<a href="/index/project/index.html?cate_id=4" title="帮招商">帮招商</a>
					<!--  -->
					<a href="/index/project/index.html?cate_id=5" title="帮设计">帮设计</a>
					<!--  -->
					<a href="/index/project/index.html?cate_id=6" title="帮营销">帮营销</a>
					<!--  -->
					<a href="/index/project/index.html?cate_id=7" title="帮对接">帮对接</a>
					<!--  -->
					</li>
					<li>
					<!--  -->
					<a href="/index/dakashuo/index.html?cate_id=1" title="大咖驾到">大咖驾到</a>
					<!--  -->
					<a href="/index/dakashuo/index.html?cate_id=2" title="大咖专访">大咖专访</a>
					<!--  -->
					<li>
						<!--  -->
									<a href="/index/activity/index.html?cate_id=1" title="论道沙龙">论道沙龙</a>
									<!--  -->
									<a href="/index/activity/index.html?cate_id=2" title="文旅唠磕会">文旅唠磕会</a>
									<!--  -->
									<a href="/index/activity/index.html?cate_id=4" title="众人问道">众人问道</a>
									<!--  -->
									<a href="/index/activity/index.html?cate_id=5" title="游学营 ">游学营 </a>
									<!--  -->
									<a href="/index/activity/index.html?cate_id=6" title="走进企业">走进企业</a>
									<!--  -->
					</li>
					<li>
						<!--  -->
									<a href="/index/investment/index.html?cate_id=1" title="投融信息">投融信息</a>
									<!--  -->
									<a href="/index/investment/index.html?cate_id=2" title="项目转让">项目转让</a>
									<!--  -->
					</li>
					<li>
						<p>联系电话</p>
						<p>服务电话：4006-654-123</p>
						<p>服务电话：13716823327</p>
						<p>合作微信：cc13716823327</p>
					</li>
					<li></li>
					<li>
						<img src="/image/index/erweima.png">
						<p>
							扫描二维码，有更多惊喜
							<br>
							Android&IOS
						</p>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<div class="foot_end">©COPYRIGHT 2012 北京文旅帮科技发展有限公司 版权所有京ICP备15047706号-2</div>

	<!--客服-->
	<link rel="stylesheet" href="__INDEX__/skin/kefu.css">
	<div class="suspension">
		<div class="suspension-box">
			<a href="/index/search/index.html" class="a a-cart">
				<i class="i">业态内容</i>
			</a>
			<a href="#" class="a a-service ">
				<i class="i"></i>
			</a>
			<a href="" class="a a-service-phone ">
				<i class="i"></i>
			</a>
			<a href="" class="a a-qrcode">
				<i class="i"></i>
			</a>
			<a href="" class="a a-top">
				<i class="i"></i>
			</a>
			<div class="d d-service">
				<i class="arrow"></i>
				<div class="inner-box">
					<div class="d-service-item clearfix">
						<a href="#" class="clearfix">
							<span class="circle">
								<i class="i-qq"></i>
							</span>
							<h3>咨询在线客服</h3>
						</a>
					</div>
				</div>
			</div>
			<div class="d d-service-phone">
				<i class="arrow"></i>
				<div class="inner-box">
					<div class="d-service-item clearfix">
						<span class="circle">
							<i class="i-tel"></i>
						</span>
						<div class="texttel">
							<p>服务热线</p>
							<p class="red number">4006-654-123</p>
						</div>
					</div>
				</div>
			</div>
			<div class="d d-qrcode">
				<i class="arrow"></i>
				<div class="inner-box">
					<div class="qrcode-img">
						<img src="__IMAGE__/index/side_ewm.jpg" alt="">
					</div>
					<p>微信服务号</p>
				</div>
			</div>

		</div>
	</div>
	<!--客服end-->