{extend name="base" /}
{block name="title"}角色列表{/block}
{block name="body"}
<link rel="stylesheet" href="__ADMIN__/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 角色管理 <span class="c-gray en">&gt;</span> 角色列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<div>
			<div class="pd-20">
				<div class="mt-20">
					<form action="/admin/user/role" method="get" accept-charset="utf-8">
						<div class="text-c"> 
							<input type="text" class="input-text" style="width:250px" placeholder="角色名称" id="name" name="name" value="{if isset($_GET['name'])}{$_GET['name']}{/if}">
							<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
						</div>
					</form>
					<div class="cl pd-5 bg-1 bk-gray mt-20">
						<a style="text-decoration:none"  class="btn btn-danger radius" href="/admin/user/roleadd" >添加角色</a>
						<span class="r">共有数据：<strong>{$total}</strong> 条</span>
					</div><br/>
					<table class="table table-border table-bordered table-bg table-hover table-sort">
						<thead>
							<tr class="text-c">
								<th width="40">ID</th>
								<th width="120">角色名称</th>
								<th width="120">用户列表</th>
								<th width="120">描述</th>
								<th width="230">操作</th>
							</tr>
						</thead>
						<tbody>
						{foreach $role as $vo}
							<tr class="text-c va-m">
								<td>{$vo.id}</td>
								<td>{$vo.name}</td>
								<td>
									{foreach $vo.user as $user}
										{$user.username},
									{/foreach}
								</td>
								<td>{$vo.content}</td>
								<td class="td-manage">
									<a style="text-decoration:none"  class="btn btn-success radius" href="/admin/user/roleedit?id={$vo.id}" >编辑</a>
									<a style="text-decoration:none" class="btn btn-primary radius" href="/admin/user/roledel?id={$vo.id}" onclick="javascript:return confirm('确认删除吗？')" >删除</a>
								</td>
							</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
				<div class="fenye">{$page}</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
{/block}