<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<title>用户登录</title>
<link rel="stylesheet" type="text/css" href="__INDEX__/skin/child_cart.css">
<link rel="stylesheet" type="text/css" href="__INDEX__/skin/child_atm.css">
<link rel="stylesheet" type="text/css" href="__INDEX__/skin/master.css">
<link rel="stylesheet" type="text/css" href="__INDEX__/skin/inside.css">
<script type="text/javascript" src="__INDEX__/skin/jquery.js"></script>
<script type="text/javascript" src="__INDEX__/skin/banner.js"></script>
<script type="text/javascript" src="__INDEX__/skin/child_atm.js"></script>
<script type="text/javascript" src="__INDEX__/skin/jQselect.js"></script>
<script type="text/javascript" src="__INDEX__/skin/lihe.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="js/png.js"></script>
<script>DD_belatedPNG.fix('div,img,span,li,a,a:hover,dd,p,input,select')</script>
<![endif]-->
</head>

<body class="nobg"><!-- 头部 -->
<div class="header">
	<!-- logo -->
	<div class="h_mid_c">
		<div class="h_mid">
			<div class="logo"> <a href="" class="fl"> <img src="images/logo.png"> </a> <small class="fl">文旅IP业态集成平台</small> </div>
		</div>
		<div class="c"></div>
	</div>
	<!-- logo end--> 
</div>
<!-- 头部 end --> 

<!--center-->
<div class="main_c">
	<div class="main login"> 
		<div class="lg_box">
			<h1>登录</h1>
			<form action="/index/login/login" method="post">
			<input type="text" name="" placeholder="请输入手机号">
			<input type="text" name="" placeholder="请输入密码">
			<!--	<input type="text" name="code" id="code" placeholder="验证码" />
				<img id="verify_img" src="{:captcha_src()}" alt="验证码" onClick="refreshVerify()">
				<br>
<br>
<span>手机号</span>
				<input type="text" id='mobile' name="mobile" placeholder="请输入手机号">
				<br>
<br>
<span>短信验证码</span>
				<input type="text" name="sms_code" placeholder="请输入手机短信验证码" maxlength="6">
				<br>
<br>
<input id="zphone" type="button" value=" 获取手机验证码 " class="hq" onClick="get_mobile_code()">
				<br>
<br>-->
 

			<a href="">没有帐号?<span>立即注册</span></a>
			<input type="submit" class="sub" value="登录">
			<a href="" class="dx">短信快捷登录</span></a>
			</form>
			
		</div>
	</div>
</div>
<!--center end--> 

<!-- footer -->
<div class="footclear"></div>
<div class="foot_end lg">©COPYRIGHT 2012 北京文旅帮科技发展有限公司 版权所有京ICP备15047706号-2</div>
</body>
</html>